@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,700&family=Libre+Baskerville:wght@700&family=Roboto+Flex:opsz,wght@8..144,500&family=Yanone+Kaffeesatz&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}


.background img {
  position: absolute;
  width: 100%;
  max-height: 60vh;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 41px;
  padding: 10px 16px;
  padding-right: 24px;
  box-sizing: border-box;
}
.container {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  padding: 0 50px;
}

.button-sign {
  display: none;
}

.eyelashes {
  display: none;
}

.hamburger-button {
  width: 50px;
  height: 30px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: none;
}

.hamburger-button .bar {
  width: 50%;
  height: 4px;
  background-color: bisque;
  margin: 1px;
}

.textos {
  width: 83%;
  height: auto;
}

h1 {
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: -1px;
  font-size: 40px;
  box-sizing: border-box;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 16px 0;
}
.two-columns {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}
.section-left {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.button-start {
  display: flex;
  align-items: center;
  background-color: lightblue;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  margin-left: 20px;
  padding: 13px 28px;
  font-weight: bold;
}

.button-start:hover {
  background-color: rgb(43, 152, 186);
  color: white;
}
.button-start:hover .flechita {
  animation: dance;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-second {
  display: flex;
  align-items: center;
  border: none;
  font-size: 16px;
  padding: 20px;
  background-color: transparent;
  justify-content: center;
  letter-spacing: 1.25px;
}
.button-second:hover {
  color: hotpink;
}

.button-second:hover .flechita {
  animation: dance;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.section-right {
  display: none;
}

@keyframes dance {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
.contenedor-grid {
  width: 100%;
  padding: 0;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  column-gap: 29px;
  row-gap: 26px;
  margin: 20px 0px 60px 0px;
}

.partners img {
  width: 100%;
  height: auto;
}
/* section-2 */
.second-page {
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.499);
  width: 100%;
  height: auto;
  padding: 16px 0;
}

.container-second {
  padding: 0 16px;
}

.subtitle {
  font-family: Arial, sans-serif;
  color: blueviolet;
  font-size: 16px;
  margin: 0px 10px 30px 0px;
}
.commit {
  font-family: Arial, sans-serif;
  font-size: 32px;
  line-height: 50px;
  margin: 10px 10px 40px 0px;
}

.column-left {
  margin: 10px 10px 40px 0px;
}
.column-right {
  margin: 10px 10px 40px 0px;
}

.pleft {
  font-size: 18px;
  margin: 0;
}

.second-two-columns a {
  color: blue;
  text-decoration: none;
  font-size: 18px;
}

.pright {
  font-size: 18px;
}

.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.661);
}

.image {
  width: 100%;
  max-width: 1144px;
}
.articles {
  padding: 32px;
}

#credit-card {
  width: 100%;
  padding: 20px 30px 20px 30px;
}

#slack {
  width: 100%;
  padding: 20px 30px 20px 30px;
}
#phone {
  width: 100%;
  padding: 20px 30px 20px 30px;
}

#dash {
  width: 100%;
  padding: 20px 30px 20px 30px;
}

.third-part {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: calc(64px * 3) 0;
  z-index: 1;
}

.third-part::before {
  content: "";
  width: 100%;
  height: 1100px;
  background-color: #0a2540;
  position: absolute;
  top: -32px;
  left: 0px;
  z-index: -1;
  transform: skewY(-10deg);
}

.container-three {
  max-width: 1144px;
}

.twocolumn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
}

.twocolumn .section-left3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-right: 16px;
  box-sizing: border-box;
}

.subtitle3 {
  color: #32e2f1;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  margin: 16px 0;
}

.subtitle3-a {
  font-family: Arial, sans-serif;
  font-weight: 600;
  margin: 0;
  width: 100%;
  font-size: 31px;
  line-height: 50px;
}

.section-left3 .button-start {
  margin: 12px 0px;
  font-weight: 900;
  background-color: #32e2f1;
  color: #0a2540;
}

.third-part .image-section3 {
  display: flex;
  flex-direction: column;
  margin: 22px 0px;
}

.image-tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 16px 8px 0px;
}
.third-part .image-section3 .image-tools {
  width: 100%;
}

.image-tools .tools {
  height: 50px;
  margin-bottom: 8px;
}

.image-tools .flechita {
  height: 24px;
}

.image-tools h4 {
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  width: 100%;
}

.tools-text {
  color: #adbdcc;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.third-part .button-second {
  color: #32e2f1;
  font-size: 15px;
  padding: 0;
}

.image-code {
  display: none;
}

.button-start:hover {
  background-color: darkcyan;
}

.section-left3 .button-start:hover {
  background-color: white;
}

.section-why-swipe {
  width: 100%;
  padding: 130px 15px 0px 15px;
}
.subtitle {
  color: #6962f7;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;
  width: 100%;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.card .icon {
  height: 35px;
  margin: 40px 0px 0px 0px;
}

.section-why-swipe .first-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0, 25px;
}

.section-why-swipe .second-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0, 25px;
}

.section-why-swipe .third-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0, 25px;
}

.section-why-swipe .fourth-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0, 25px;
}

.global_section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  padding: 64px 0 0 0;
}

.section_container {
  width: 100%;
  max-width: 1144px;
}

.two_column {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.two_column .col_left {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.subtitle2 {
  color: #00d4ff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}

.two_column .col_right {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#globe {
  opacity: 10%;
  max-width: 844px;
  position: absolute;
  top: 10%;
}

.global_section .card_container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
}

.global_section::before {
  content: "";
  width: 100%;
  height: 1000px;
  background-color: #0a2540;
  position: absolute;
  top: -32px;
  left: 0;
  transform: skewY(-10deg);
  z-index: -1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.global_section .card_container .card {
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px 0 0;
  margin: 8px 0;
}

.global_section .card_container .card h3 {
  border-left: 2px solid #00d4ff;
  padding: 0 0 0 8px;
  line-height: 28px;
}

.card h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  width: 100%;
}

.secondary_text {
  font-size: 14px;
  line-height: 18px;
  color: #adbdcc;
  letter-spacing: 0.25px;
}

.virtual_events_section {
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.virtual_events_section::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.virtual_events_section .col_left {
  height: 446px;
  padding: 0 64px 0 0;
}

.virtual_events_section .button-start {
  background-color: #6962f7;
  margin: 16px 0 0 0;
}

.virtual_events_section .swipe_sessions_card {
  margin: 32px 0;
  width: 100%;
}

.swipe_sessions_card {
  height: 446px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.virtual_events_section .swipe_sessions_card .card_top {
  height: 40%;
}

.swipe_sessions_card .card_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
}

.swipe_sessions_card .card_top::before {
  background: linear-gradient(
    101.33deg,
    #08209a 0.76%,
    #6563ff 33.33%,
    #36c5f0 76.92%,
    #83e2ff 96.96%
  );
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  top: -40%;
  transform: skewY(-5deg);
  z-index: 1;
}

#sessions_logo {
  margin-top: -85px;
  width: 250px;
  z-index: 2;
}

.virtual_events_section .avatars {
  
  position: absolute;
  bottom: -5px;
  left: 64px;
  z-index: 3;
}
.virtual_events_section .avatars img {
  width: 80px;
}
.virtual_events_section .avatars img:nth-of-type(2) {
  left: 55px;
}

.virtual_events_section .card_bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 64px;
  overflow-y: hidden;
}
.virtual_events_section .card_bottom .subtitle {
  margin: 32px 0 0 0;
}

.virtual_events_section .swipe_sessions_card .secondary_text {
  width: 100%;
}

.virtual_events_section .card_bottom .secondary_text {
  color: black;
  font-weight: 700;
}

.getting_started_section  {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.getting_started_section .col_left{
  padding: 0 64px 0 0;
}

.getting_started_section .button-start {
  background-color: #6962f7;
  margin:16px 0;
}
.getting_started_section .col_right {
  flex-direction: row;
}

.getting_started_section .col_right .card {
  box-sizing: border-box;
  padding: 0 8px 0 0;
}

.getting_started_section .col_right .card .button-second {
  color: #7000ff;
  padding-left: 0;
} 

.card .icon {
  height: 50px;
  margin: 0 0 8px 0;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #f7f9fc;
  padding: 64px 0;
}

.footer .section_container {
  display: flex;
}

.footer .col {
  width: 50%;
  margin: 16px 0;
}

#footer_logo {
  width: 70px;
  max-width: 108px;
  margin:0 0 16px 0;
}

.footer .icon_link {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.footer .icon_link img {
  width: 18px;
}

.footer .col a {
  color: black;
  font-weight: normal;
  font-size: 12px;
}

.footer h3 {
  font-size: 16px;
  font-weight: 700;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
/* mobile */

@media screen and (min-width: 551px) {
  /* cuatro columnas-celular aparece */
  .menu {
    margin-bottom: 35px;
    padding-right: 70px;
  }

  h1 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  p {
    font-size: 25px;
    line-height: 25px;
    margin: 16px 0;
  }

  .section-right {
    display: block;
  }

  .section-right img {
    width: 136%;
    height: auto;
    margin-top: 25%;
    margin-left: -28%;
  }

  .partners {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    column-gap: 16px;
    row-gap: 32px;
    margin: 0px 166px 0px 1px;
  }

  .section-container {
    padding: 8px 16px 8px 0px;
  }

  .global_section {
    padding: calc(64px * 3) 0 0 0;
  }

  .two_column {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  /* aparece el menu se quita la hamburguesa */
  /* se divide en dos columnas */
  .menu {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    padding: 13px 20px 0px 17px;
  }
  .button-sign {
    display: flex;
    width: 50px;
    height: 30px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: none;
  }

  .button-sign:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
  .background img {
    height: 85vh;
  }
  .hamburger-button {
    display: none;
  }

  .hamburger-button .bar {
    display: none;
  }

  .eyelashes {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .eyelashes a {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
  }

  .eyelashes a:hover {
    text-decoration: underline;
  }
  .textos {
    width: 100%;
  }

  h1 {
    font-size: 47px;
  }

  p {
    font-size: 18px;
  }
  .section-right {
    margin-left: 150px;
  }

  .section-right img {
    width: 250px;
    height: auto;
    margin-top: -10%;
    margin-left: -7%;
    margin-right: 160px;
  }

  .partners {
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    column-gap: 1px;
    row-gap: 29px;
    margin: 17px 0px 60px 16px;
  }
  /* seccion 2 */
  .second-two-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .column-left {
    width: 50%;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .column-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .subtitle {
    margin: 52px 10px 30px 0px;
  }

  .commit {
    width: 50%;
    margin-bottom: 16px;
    font-size: 37px;
  }

  .articles {
    display: grid;
    grid-template-areas:
      "card slack slack"
      "phone slack slack"
      "phone dash dash";
    grid-gap: 32px;
  }

  #credit-card {
    grid-area: card;
    width: 100%;
    box-shadow: 0px 2px 40px rgba(115, 18, 104, 0.311);
    border-radius: 20px;
    padding: 0px;
  }

  #slack {
    grid-area: slack;
    width: 100%;
    box-shadow: 0px 2px 40px rgba(115, 18, 104, 0.311);
    border-radius: 20px;
    padding: 0px;
  }

  #phone {
    grid-area: phone;
    width: 100%;
    padding: 0px;
  }

  #dash {
    grid-area: dash;
    width: 100%;
    box-shadow: 0px 2px 40px rgba(115, 18, 104, 0.311);
    border-radius: 20px;
    padding: 0px;
  }
  /* tercera seccion */
  .third-part .image-section3 {
    flex-direction: row;
  }

  #code {
    max-width: 480px;
    margin-bottom: 16px;
    border-radius: 20px;
  }

  #terminal {
    max-width: 480px;
    border-radius: 20px;
  }

  .twocolumn .image-code {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 16px;
    box-sizing: border-box;
  }
  .section-why-swipe .card-container {
    width: 100%;
    display: flex;
  }

  .two_column {
    flex-direction: row;
  }

  .two_column .col_left {
    width: 50%;
  }

  .two_column .col_right {
    width: 50%;
    padding: 0 0 0 16px;
  }

  #globe {
    opacity: 25%;
  }

  .global_section .card_container .card {
    width: 50%;
    margin: 16px 0;
  }

  .virtual_events_section {
    padding: calc(64px * 2) 0;
  }

  .swipe_sessions_card {
    width: 540px;
  }

  .swipe_sessions_card .card_top {
    height: 50%;
  }

  #sessions_logo {
    width: 338px;
  }

  .virtual_events_section .card_bottom .secondary_text {
    width: 50%;
  }
  .getting_started_section {
    padding: 64px 0 ;
  }

  .getting_started_section .col_right .card {
    width: 50%;
    margin: 0 16px 0 0;
  }

  .footer .col {
    width: 25%;
  }
  .footer .icon_link img {
  width: 24px;
}
.container {
  padding:0  20px;
}
  /* tablet */
}

@media screen and (min-width: 1024px) {
  .menu {
    margin-right: 0px;
    margin-bottom: 100px;
    padding: 17px 35px 0px 18px;
  }

  .eyelashes a {
    margin: 30px;
  }

  .button-sign {
    width: 64px;
    height: 34px;
  }

  h1 {
    font-size: 98px;
    margin-top: 18px;
    margin-bottom: 43px;
  }

  p {
    font-size: 16px;
    margin-bottom: 22px;
  }

  .section-right img {
    width: 75%;
    height: auto;
    margin-top: -3%;
    margin-left: 23%;
  }

  .button-start {
    margin-left: 10px;

  }

  .background img {
    height: 92vh;
  }
  .partners {
    margin: 0px 10px 0px 16px;
    column-gap: 28px;
    row-gap: 35px;
  }

  .second-two-columns .column-left {
    width: 50%;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
  }

  .second-two-columns .column-right {
    width: 50%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
  }
  .second-two-columns a:hover {
    color: hotpink;
  }
  .global_section .card_container {
    display: flex;
    margin: calc(64px * 2) 0;
  }

  .global_section .card_container .card {
    width: 25%;
    margin: calc(64px * 2) 0;
  }
  /* computador */
}

/* tercera seccion */
@media (min-width: 1025px) and (max-width: 1440px) {
  .twocolumn .image-code {
    margin: 0px 64px;
  }
}
@media only screen and (max-width: 850px) {
  .third-part .image-code {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .section-why-swipe .card-container {
    flex-wrap: wrap;
  }
  .global_section .card_container {
    margin: 64px 0;
  }
  .getting_started_section .two_column {
    align-items: center;
  }
  .getting_started_section .col_right {
    flex-wrap: wrap;
  }
  .getting_started_section .col_right .card {
    width: 100%;
    margin: 16px 0;
  }
}
@media only screen and (max-width: 1144px) {
  .container-three {
    padding: 0px 16px;
    overflow-x: hidden;
  }
  .section_container {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 550px) {
  .third-part {
    padding: 32px 0;
  }
  .third-part::before {
    height: 950px;
  }
  .footer .section_container {
    flex-wrap: wrap;
  }

}
